.contenedor{
    display:flex;
    flex-direction: column;
    margin:auto;
    width: 960px;
    height: 900px;
    background-color:rosybrown;
}

.informacion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width:960px;
    height: 700px;
    background-color: rgba(181, 137, 137, 0.844);
    text-align: center;

}
.detalles{
    width: 70%;
    background-color: rgb(185, 150, 150);
}
.fotografia{
    width: 20%;
    background-color: rgba(180, 162, 162, 0.851);
}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.elemento{
    text-align: justify;
    width: 70%;
}
.contenedor3{
    display: flex;
    flex-direction: column;
    
}